/* 1-testimonial */
$color-white: #fff;
$color-light-grey: #c3cfe2;
$color-purple: #686de0;
$color-grey: darkslategrey;
$color-shadow: #8c99ad;

/* 2-grid */
$card-width: 325px;
$grid-card-gap: 20px;
$grid-card-columns-desktop: 3;
$grid-card-columns-tablet: 2;
$grid-card-columns-mobile: 1;
