.container {
  display: grid;
  grid-gap: $grid-card-gap;
  grid-template: auto / repeat($grid-card-columns-desktop, $card-width);

  width: 1015px;
  margin: 0 auto;
}
.card {
  width: $card-width;
}

/* mediaqueries */
@media (max-width: 1023px) {
  .container {
    grid-template: auto / 1fr 1fr;
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .container {
    grid-template: auto / 325px;
    width: 325px;
  }
}
@media (max-width: 512px) {
  .container {
    grid-template: auto / auto;
    width: 100%;
  }
}
